.container{
    height: 100%;
    width: 235px;
    .cover{
        color: var(--white-text);
        background-color: var(--primary-color);
        width: 100%;
        height: 100%;
        padding: 10px 30px;
        position: relative;

        h2{
            color: #ffff;
            font-size: 22px;
            line-height: 32px;
        }

        .conversation-list{
            height: 83vh;
            margin-top: 18px;
            
            &[aria-hidden="true"]  { overflow-y: scroll; }
            &[aria-hidden="false"] { overflow-y: visible; }

            .title{
                color: var(--second-color);
                font-size: 10px;
                margin-bottom: 3px;
                margin-left: 10px;
                line-height: 20px;
            }
            li{
                list-style: none;
            }


            .day-ref-section {
                & + .day-ref-section {
                    margin-top: 20px;
                }
                .day-ref-list {
    
                    .conversation{
                        display: flex;
                        position: relative;
                        height: 30px;
                        align-items: center;
                        justify-content: space-between;
                        border-radius: 5px;

                        .setting{
                            display: none;
                            margin-right: 12px;
                            svg {
                                font-size: 1.9rem;
                            }
                        }
                        .item {
                            height: 100%;
                            padding: 0px 10px;
                            display: flex;
                            align-items: center;
                            p {
                                font-size: 13px;
                            }
                        }

                        &.selected{
                            background-color: var(--selected-color);
                            .setting{
                                display: block;
                            }
                        }
                        
                        &:not(.selected):hover {
                            background-color: var(--third-color);
                            
                            box-sizing: border-box;
                            .setting{
                                display: block;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            // .dropdown{
            //     width: 160px;
            //     padding: 10px;
            //     border-radius: 10px;
            //     position: absolute;
            //     left: 280px;
            //     background-color: #313131;
            // }
            
        }
    }
}