
.chat-page {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #292A38;
    color: #ffffff;
}

/*title*/
.title {
    display: flex;
    align-items: center;
    margin-left: 50px;
  }
  
  h1 {
    margin-left: 20px; /* Thay đổi khoảng cách giữa Edit và chữ StudyIO */
    font-size: 20px;   /* Thay đổi kích thước của chữ StudyIO */
    font-style: 'Montserrat';
    margin-top: 20px;
  }

  .Edit-icon {
    width: 35px;
    height: 35px;
    margin-top: 20px;
  }

  /*chat*/

  /*human*/
  .human-icon {
    display: flex;
    align-items: center;
    margin-left: 50px;
  }

  .User-icon {
    margin-left: 400px;
    margin-top: 50px;
  }

  .human-icon p {
    margin-left: 15px;
    font-size: 20px;   /* Thay đổi kích thước của chữ StudyIO */
    font-weight: bold;
    margin-top: 50px;
  }

  .human-text p {
    margin-left: 490px;
    font-size: 15px;   /* Thay đổi kích thước của chữ StudyIO */
    font-weight: normal;
    margin-top: 10px;
  }

  /*bot*/
   /*human*/
   .bot-icon {
    display: flex;
    align-items: center;
    margin-left: 50px;
  }

  .bot-icon {
    margin-left: 225px;
    margin-top: 15px;
  }

  .bot-icon p {
    margin-left: 15px;
    font-size: 20px;   /* Thay đổi kích thước của chữ StudyIO */
    font-weight: bold;
    margin-top: 15px;
  }

  .bot-text p {
    margin-left: 490px;
    margin-right: 300px;
    font-size: 15px;   /* Thay đổi kích thước của chữ StudyIO */
    font-weight: normal;
    margin-top: 10px;
  }

  li {
    margin-left: 520px;
    margin-right: 320px;
    font-size: 15px;   /* Thay đổi kích thước của chữ StudyIO */
    font-weight: normal;
    margin-top: 10px;
  }

  /*chevron*/
  .chevron-icon {
    display: flex;
    width: 40px;
    height: 40px;
    margin-top: -150px;
    margin-left: 15px;
  }