.Input {
    display: flex;
    align-items: end;
    padding: 1em 10%;
    // justify-content: space-around;
    background-color: #292A38;
    color: white;
    // border: 1px solid red;

    .File_uploaded {
        // border: 1px solid red;

        .Content {
            // height: fit-content;
            align-items: button;
            width: 200px;
            border: 1px solid white;
            border-radius: 10px;
            padding: 10px;
            margin-right: 1em;

            .Content_head {
                display: flex;
                justify-content: space-between;
                padding-bottom: 2px;

                .p1 {
                    // border: 1px solid red;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: larger;
                }

                .add_button {
                    // border: 1px solid red;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: larger;
                    cursor: pointer;
                }
            }

            hr {
                border: none;
                height: 1px;
                background-color: white;
            }

            .file_uploaded_area {
                border: 1px solid red;
                margin-top: 5px;
                height: 52px;

                // scroll-behavior: auto;
                .file_uploaded_container {
                    // border: 1px solid red;
                    border-radius: 5px;
                    background-color: #3E4165;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-right: 5px;

                    width: fit-content;
                    color: #BBBBBB;
                    margin-bottom: 3px;
                    .delete_button{
                        display: flex;
                        cursor: pointer;
                    }
                }
            }
        }

        #Icon_Upload {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid white;
            border-radius: 10px;
            padding: 10px;
            margin-right: 1em;
            cursor: pointer;
        }

    }

    .Input_content {
        width: 100%;
        border: 1px solid white;
        border-radius: 20px;

        .File_area {
            // border: 1px solid red;
            padding: 0 10px;
            display: flex;
            color: #292A38;

            .file_container {
                position: relative;
                width: 110px;
                // border: 1px solid red;
                margin-right: 2px;
                display: flex;
                align-items: center;
                border-radius: 5px;

                .file_info {
                    display: flex;
                    align-items: center;
                    margin-top: 12px;
                    // padding: 1em;
                    width: 100px;
                    padding: 10px;
                    border: none;
                    border-radius: 10px;
                    position: relative;
                    background-color: #3E4165;

                    .file_name {
                        flex: 1;
                        color: white;
                        margin-left: 5px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }

                #Delete_icon {
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: #3E4165;
                    // padding: 5px;
                }
            }
        }

        .Input_area {
            display: flex;
            justify-content: space-between;
            // border: 1px solid white;
            border-radius: 20px;
            margin-top: 5px;
            padding: 12px;

            input {
                background-color: rgb(255, 255, 255, 0.0);
                color: white;
                border: none;
                width: 95%;
                padding: 2px;
            }

            input:focus {
                outline: none;
                border: none;
            }

            #send_button {
                cursor: pointer;
            }
        }
    }

    ;
}